* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    vertical-align: middle;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
}

.container .field-wrapper{
    display: block;
    width: 400px;
    height: 600px;  
    background: black;
    border: 2px solid #0000ff;
    position: relative;
}

.container .field-wrapper .controle-wrapper{
    position: fixed;
    z-index: 11;
}

.container .field-wrapper .controle-wrapper .play{
    display: block;
    width: 20px;
    height: 20px;
    background: green;

}

.container .field-wrapper .controle-wrapper .player-controle{
    display: block;
    width: 1px;
    height: 1px;
    background: #0000FF;
    border: none;
    position: absolute;
    top: -1px;
    left: -1px;
}

.container .field-wrapper .player{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 493px;
    left: 190px;
    z-index: 10;
}

.container .score-wrapper{
    display: block;
    width: 200px;
    height: 600px;  
    background: black;
    border: 2px solid #0000FF;
}
